#API-KEY
OPENROUTER_API_KEY="sk-or-v1-" #paste here your OpenRouter api key
#MODEL-NAMES
RAG_MODEL_NAME=arcee-ai/trinity-mini:free #generator for the final answer
JUDGE_MODEL_NAME=openai/gpt-4o-mini #judge model for the Ragas eval script
HYDE_MODEL=arcee-ai/trinity-mini:free #fast model for HyDE
EMBEDDING_MODEL=NeuML/pubmedbert-base-embeddings #ebmedding model used for vectorization data

#RAG-HYPERPARAMETERS
RETRIEVAL_K=5
RETRIEVAL_ALPHA=0.7 #1.0 is vector-only, 0.0 is bm25-only
USE_HYBRID_SEARCH=True
USE_HYDE=True

#DB-MODIFICATION
CHUNK_SIZE=1000
CHUNK_OVERLAP=500